.header{
    background-color: #501214;
    color: white;
}
.items{
    font-family: Roboto Mono;
    background-color: #AC9155;
    color:white;
    border-style: solid;
    border-color: #AC9155;
}
.icon{
    background-color: #AC9155;
    border-style: none;
    color: white;
}
.submit{
   

}
.labelHeader{
    font-family:Brandon Grotesque;
    padding-left: 5px;
    font-size: large;
}
.spacer{
    flex: .5 1 auto;
}

.space{
    
    margin: 200px;
}
.Products{
  padding-left: 650px;
  border-style: solid;
 
}

.data{
    font-family: Roboto Mono;
    text-align: left;
    margin-right: 400px;
    margin-left: 400px;
}
.outline:hover{
    border-style: solid;
    border-color: #D7BD8A;
}
.image{
    width: 200px;
    margin-right: 400px;
    margin-left: 400px;
    height: 200px;
}
.laptop{
    border-style: none;
    background-color: #501214 ;
    margin-left: 150px;
    font-size: x-large;
    text-align: center;
   
}
.laptop:hover{
    border-style: solid;
    border-color: #501214;
}
.sidenav {
    
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #D7BD8A;
  }
  .horizontal-mat-list-item {
    
    float: right;
    display: list-item;
   

    }
    mat-list-option:nth-child(n){
        background-color: red;
        height: 300px;
        border: 1px solid yellow;
      }
      .Title{
        background-color: #501214;
        border-style: none;
        color: white;
    }
   
    .Title:hover{
        border-color: azure;
        border-style: hidden;
        border-radius: 10px;
    }

    .Cart{
        font-family: Roboto Mono;
        color:#f1f1f1;
        background-color: #501214;
        border-color: #AC9155;
        border-style: hidden;
        position: fixed;
        top:10;
        right:15px;
        
        text-align: center;
        
    }

    .Cart:hover{
        border-style: solid;

    }

    .font{
        font-family: Roboto Mono;
    }