<app-header></app-header>
<body>
  <!--<div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
  </div> -->
  
  
  <div class="space"></div>
 
     <h3 class="data">Buy Now</h3>
   <div class="outline" *ngFor="let item of searchResults">

  <!---<button class="laptop" (click)="saveProduct()" routerLink="/products"> <h3 class="data">{{ item.product.title }}</h3></button>-->
  <a href routerLink="/products" class="laptop" (click)="saveProduct(item)">{{ item.Name }}</a>
  <p class="data">From {{this.store}}</p>
 <!---- <img class="image" *ngFor="let image of item.Img_URL" [src]="image" alt="Product Image">-->
 <img class="image" [src]="item.Img_URL" alt="{{ item.Name }}">
  <h2 class="data">${{ item.Price }}</h2>

</div>
</body>