<app-header></app-header>
<body>
  <!--<div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
  </div> -->
  
  
  <div class="space"></div>
     <h3 class="data">Home</h3>
     <div class="space"></div>

  <div class="grid-container"  >
  <div class="grid-item" href routerLink="/products" (click)="saveProduct(item)" *ngFor="let item of searchResults">
    

   <!-- <h5>{{ item.Name }}</h5> -->
    <!---<button class="laptop" (click)="saveProduct()" routerLink="/products"> <h3 class="data">{{ item.product.title }}</h3></button>-->

    <a class="laptop">{{ item.Name }}</a>
    
    <p class="data">
        From {{ this.store}}
      </p>

 
  
 <!---- <img class="image" *ngFor="let image of item.Img_URL" [src]="image" alt="Product Image">-->
 <img [src]="item.Img_URL" alt="{{ item.Name }}">
 
  <h2 class="data">
        $ {{ item.Price }}
      </h2>

</div>
 </div>
</body>