<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<mat-toolbar class="header">
  
<mat-toolbar-row class="header">
        <button class="Title" routerLink="/home">
      <span class="labelHeader" >BOBCAT CLAWS</span>
      </button>

        <button class="home" routerLink="/home">
          <span>HOME</span>
        </button>
        
     <span class="spacer"></span>
  <app-search-bar></app-search-bar>
        

    </mat-toolbar-row>
    <mat-toolbar-row class="items">
      <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
      </button>
      <span class="all"> All </span>
      <span class="spacer"></span>
  
      
  
      <button mat-button [matMenuTriggerFor]="electronicsMenu">
        <span class="font">Electronics </span><mat-icon>arrow_drop_down</mat-icon>
      </button>
      
      <mat-menu #electronicsMenu="matMenu">
        <button mat-menu-item (click)="onSelectSubCategory('Laptops and Accessories')"routerLink="/laptops">Laptops and Accessories</button>
        <button mat-menu-item (click)="onSelectSubCategory('Audio and Headphones')" routerLink="/Headphones">Audio and Headphones</button>
       
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="appliancesMenu">
        <span class="font">Appliances</span> <mat-icon>arrow_drop_down</mat-icon>
      </button>
     
      <mat-menu #appliancesMenu="matMenu">
     
        <button mat-menu-item (click)="onSelectSubCategory('Coffee and Tea Makers')" routerLink="/coffee">Coffee and Tea Makers</button>
       
      </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>





<div class="grid-container">
  <div class="cart-info">
<h5>Product Count: {{ cartProcessed.length }}</h5>

<h5 class="bottom">Subtotal: {{priceSum()}}</h5>
</div>



</div>


  <li class="product-container" *ngFor="let product of cartProcessed">

    <div class="row">
      <span>
        <img [src]="product.image_URL">
      
     
    <a href routerLink={{product.Route}}>{{ product.Name }}</a> 
    
    <button class="cart-button" (click)="removeFromCart(product)">
        <i class="bi bi-x-lg"></i>
        </button>
        
    
      
      <h5>Price: {{ product.Currency_symbol }}{{ product.Price }}</h5>

      

    
    </span>
    </div>
    
</li>
